/*////////////////*/
/*//// GLOBAL ////*/
/*////////////////*/

* {
    font-family: 'Noto Sans', sans-serif;
}

/*////////////////*/
/*//// HEADER ////*/
/*////////////////*/

header {
    background-color: rgb(0,102,153);
    position: sticky;
    top:0;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 30px;
    margin: auto auto;

}

h1 {
    font-weight: 400;
    color: white;
}

header input {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    padding-left: 10px;
    background-color: rgb(0,102,153);
    padding-top:5px;
    padding-bottom: 5px;
    color:white;
}

header input::placeholder {
    padding: 2px 0;
    margin:auto auto;
    color:white;
}

/*////////////////*/
/*///// MAIN /////*/
/*////////////////*/


#employees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-top: 20px;

}

.user {
    align-self: center;
    justify-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px 15px;
    margin: 15px 15px;

}

.user:hover {
    background-color: rgba(0,102,153, 0.1);
    transition: background-color 1s ease-out;
}

.user img {
    border-radius: 50%;
    justify-self: center;
    align-self: center;

    height: 90px;
    margin-bottom: 15px;
}

.info {

    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.name {
    margin-bottom: 5px;
    margin-top: 5px;
}

.email {
    word-wrap: break-word;
    margin: 5px auto;

}

.city {
    margin-top: 5px;
    margin-bottom: 5px;

}

/*/////////////////////*/
/*/////// MODAL ///////*/
/*/////////////////////*/


#modal {
    position:fixed;
    display: none;
}

/*/////////////////////*/
/*//// MEDIA QUERY ////*/
/*/////////////////////*/

@media screen and (min-width: 768px ) {
    header div {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 30px 30px 30px;
        width: 90%;
    }

    header div {
        height: 90px;
        padding: initial;
    }

    header input {
        width: 30%;
    }

    #employees {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin: auto auto;
    }

    .user {
        width: 340px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }

    .user img {
        height: 90px;
        padding-bottom: initial;
        margin: auto auto;
    }

    .info {
        padding-left: 20px;
        justify-items: flex-start;
        align-items: flex-start;
        align-self: center;
    }

    .city {

        align-self: flex-start;
        justify-self: flex-start;
    }

    .email {
        font-size: 0.8rem;
        word-break: break-all;
        white-space: normal;
    }
}

@media screen and (min-width: 1024px ) {

    .user {
        align-self: center;
        justify-self: center;
        width: 350px;
        display: flex;
        flex-direction: row;
    }

    .email {
        font-size: 0.8rem;
    }


}