/*////////////////*/
/*//// GLOBAL ////*/
/*////////////////*/

* {
    font-family: 'Noto Sans', sans-serif;
}

/*////////////////*/
/*//// HEADER ////*/
/*////////////////*/

header {
    background-color: lightslategray;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 30px;
    margin: auto auto;
}

h1 {
    font-weight: 400;
    color: white;
}

header input {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightslategray;
    padding-left: 10px;
    background-color: aliceblue;
}

/*////////////////*/
/*///// MAIN /////*/
/*////////////////*/


#employees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-top: 20px;

}

.user {
    align-self: center;
    justify-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 15px 15px;
    margin: 15px 15px;

}

.user:hover {
    background-color: aqua;
    transition: background-color 1s ease-out;
}

.user img {
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    margin:auto auto;
}

.info {

    word-wrap: break-word;
    overflow-wrap: break-word;
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.name {
    margin-bottom:5px ;
}

.email {
    word-wrap: break-word;
    margin: 5px auto;

}

.city{
    margin-top: 5px;
    margin-bottom: 5px;

}

/*/////////////////////*/
/*//// MEDIA QUERY ////*/
/*/////////////////////*/

@media screen and (min-width: 768px ) {
    header div {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 30px 30px 30px;
        width: 90%;
    }

    header input {
        width: 30%;
    }

    main {
        width: 85%;
    }

    #employees {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .user {
        align-self: center;
        justify-self: center;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 15px 15px;
        margin: 15px 15px;
    }

    .user img {
        height: 60px;
    }

    .info {
        padding-left: 20px;
        justify-items: flex-start;
        align-items: flex-start;
        align-self: center;
    }

    .city{

        align-self: flex-start;
        justify-self:flex-start ;
    }
}

@media screen and (min-width: 1024px ) {

    .user {
        align-self: center;
        justify-self: center;
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid lightgrey;
        border-radius: 5px;
        padding: 15px 15px;
        margin: 15px 15px;
    }


}